body {
	margin: 0;
	font-family: $def;
	letter-spacing: 0.1em;
	font-size: $unit;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	margin: 0;
	line-height: 1.74em;
	padding-bottom: 1.5em;
}
img {
	display: block;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
button {
	border: none;
	font-family: inherit;
}
input, textarea, a {
	&:focus {
		outline: none; 
	}
}