.max-width {
	max-width: $content;
	margin: auto;
	@include pad;
	position: relative;
}

.shaded {
	box-shadow: 10px 10px 20px $light;
}

.mark-red {
	p, li {
		color: $text_color;
	}
}
.mark-cyan {
	p, li {
		color: #fff;
	}
}
.mark-purple {
	p, li {
		color: $text_color;
	}
}
.mark-green {
	p, li {
		color: #fff;
	}
}
.mark-white {
	p, li {
		color: #fff;
	}
}

.js-parallax-layer {
	@include fill;
	&+& {
		z-index: -1;
	}
	&+&+& {
		z-index: -2;
	}
}