.c-title{
	font-size: 18px;
	font-family: $def;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 800;
	padding-bottom: 0.7em;
	line-height: 1.74em;
	&:after {
		content:'';
		display: block;
		width: 35px;
		height: 3px;
		background:$red;
		margin-top: 10px;
	}
	&_no-line {
		&:after {
			content:none;
		}
	}
	.mark-red &:after {
		background:$red;
	}
	.mark-cyan &:after {
		background:$cyan;
	}
	.mark-green &:after {
		background:$green;
	}
}